$grey-color: #dcdcdc;
$grey-bg: #ececec;

.h-bar {
    height: 3em;
    background-color: $grey-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bar {
        border: 1px solid lightgrey;
        height: 1.5em;
        border-radius: 1em;
        background-color: $grey-bg;

        .inner-bar {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: white;
            border-radius: 1em;
        }

        .handle {
            height: 1.5em;
            width: 1.5em;
            background-color: grey;
            border-radius: 100%;
        }
    }
}
