$grey-color: #efefef;

.chart {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    position: relative;
    background-color: white;

    img {
        position: absolute;
    }

    .clickable {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}
